{% extends 'base.htm' %}
{% block title %}Ice-Creams{% endblock title %}
{% block body %}
  <div class="container-fluid my-3">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/one_1.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/one_1.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/two_2.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/two_2.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/three_3.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/three_3.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/four_4.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/four_4.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/five_5.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/five_5.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/six_6.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/six_6.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock body %}