{% extends 'base.htm' %}
{% block title %}Softy
{% endblock title %}
{% block body %}
  <div class="container-fluid my-3">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/softy/one.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/softy/one.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/softy/two.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/softy/two.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/softy/three.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/softy/three.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/softy/four.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/softy/four.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/softy/five.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/softy/five.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/softy/six.jpg" class="d-block w-100" alt="..." >
            <div class="card-body">
              <p class="card-text">Name:</p>
              <p class="card-text">Product code:</p>
              <p class="card-text">Description:</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/static/softy/six.jpg" role="button">View</a>
                  <a class="btn btn-primary" href="/buy" role="button">Buy</a>
                </div>
                <small class="text-muted">Price</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}